// Media breakpoints 
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (max-width: 72em) { @content ; }
  }
   @else if $point == desktopMin {
     @media (min-width: 72em) { @content ; }
  }
   @else if $point == big {
     @media (max-width: 100em) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 60em) { @content ; }
  }
    @else if $point == laptopMin {
     @media (min-width: 60em) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}

#browse-cards {
  .home-card {
  	min-height: 20vh;
  }

  padding: 1rem;

  .browse-campaign-card {
    transition: 0.1s;

    p {
      margin-bottom: 11px;

      @include breakpoint(laptop) {
        font-size: 1.6rem;
      }

      @include breakpoint(tablet) {
        font-size: 1.1rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        margin-bottom: 14px;
      }
    }
  }

  .browse-campaign-card:hover {
    transform: scale(1.05);
  }
}

#browse-cards > div {
  height: 5vh;
  display: flex;
}

.browse-campaigns {
  section {
  	padding: 6rem;

    @include breakpoint(tablet) {
      padding: 5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .filter-container {
	padding-bottom: 1rem;
  }

  .pagination ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    color: #4b5a95;
  }

  .pagination li {
    display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    padding: .7rem;
    cursor: pointer;
  }

  .previous, .next {
    margin: 1rem;
  }

  .active {
    background: #5a82d2;
    color: white;
  }

  a {
    outline: none;
  }
}

#campaign-page {
  h4 {margin-top: 3rem;}

  h5 {
    margin-top: 1rem;
  }

  .campaign-page-card {
    margin-top: 2rem;
  }

  .filler {
    max-width: 100%;
  }

  .campaign-page-donation-div {
    display: inline-flex;
    width: 100%;
    margin-top: 2rem;
    
    form {
      padding-right: 1rem;
    }

    h5 {
      text-align: right;
      width: 100%;
    }
  }
}

#campaign-page > div > div {
  max-width: 100%;
  flex-basis: 80%;
}

.campaign-page-card {
  h6 {
    white-space: pre-line;
    word-break: break-all;
  }
}

.campaign-page-card > div {
  background-size: cover !important;
}

#donation-modal {

  .jss10 {
    min-width: 500px;
  }
}
