#browse-cards {
  .home-card {
  	min-height: 20vh;
  }

  padding: 1rem;
}

#browse-cards > div {
  height: 5vh;
  display: flex;
}

.browse-campaigns {
  section {
  	padding: 6rem;
  }

  .filter-container {
	padding-bottom: 1rem;
  }
}

#campaign-page {
  h4 {margin-top: 3rem;}

  h5 {margin-top: 3rem;}

  .campaign-page-card {
    margin-top: 2rem;
  }

  .filler {
    max-width: 100%;
  }
}

.campaign-page-card {
  h6 {
    white-space: pre-line;
    word-break: break-all;
  }
}

.campaign-page-card > div {
  background-size: cover !important;
}