#browse-cards {
  .home-card {
  	min-height: 20vh;
  }

  padding: 1rem;

  .browse-campaign-card {
    transition: 0.1s;
  }

  .browse-campaign-card:hover {
    transform: scale(1.05);
  }
}

#browse-cards > div {
  height: 5vh;
  display: flex;
}

.browse-campaigns {
  section {
  	padding: 6rem;
  }

  .filter-container {
	padding-bottom: 1rem;
  }

  .pagination ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    color: #4b5a95;
  }

  .pagination li {
    display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    padding: .7rem;
    cursor: pointer;
  }

  .previous, .next {
    margin: 1rem;
  }

  .active {
    background: #5a82d2;
    color: white;
  }

  a {
    outline: none;
  }
}

#campaign-page {
  h4 {margin-top: 3rem;}

  h5 {
    margin-top: 1rem;
  }

  .campaign-page-card {
    margin-top: 2rem;
  }

  .filler {
    max-width: 100%;
  }

  .campaign-page-donation-div {
    display: inline-flex;
    width: 100%;
    margin-top: 2rem;
    
    form {
      padding-right: 1rem;
    }

    h5 {
      text-align: right;
      width: 100%;
    }
  }
}

.campaign-page-card {
  h6 {
    white-space: pre-line;
    word-break: break-all;
  }
}

.campaign-page-card > div {
  background-size: cover !important;
}

#donation-modal {

  .MuiPaper-root-10 {
    min-width: 500px;
  }
}
