// Media breakpoints 
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (max-width: 72em) { @content ; }
  }
   @else if $point == desktopMin {
     @media (min-width: 72em) { @content ; }
  }
   @else if $point == big {
     @media (max-width: 100em) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 60em) { @content ; }
  }
    @else if $point == laptopMin {
     @media (min-width: 60em) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}

$main-header-font-size: 2rem;
$second-header-font-size: 1.2rem;

.main-background {
  background: url('/img/main-background.jpg');
  background-position-y: -120px;
  padding: 150px;
  background-size: cover;
  text-align: center;

  @include breakpoint(desktop) {
    padding: 85px;
    background-position-y: 0;
  }

  @include breakpoint(mobileonly) {
    padding: 67px; 
    padding-left: 20px;
    padding-right: 20px;
  }

  h3, h5 {
  	color: white;
  }

  h3 {
    @include breakpoint(desktop) {
      font-size: 2rem;
    }
  }

  h5 {
    margin: 0 auto;
    max-width: 700px;
    @include breakpoint(desktop) {
      font-size: $second-header-font-size;
      max-width: 500px;
    }
  }

  button {
  	margin-top: 1rem;
  	padding: 15px;
  	font-size: 1.2rem;
  	color: white;
  	background: #3c518457;
  	border-color: #ffffff4f;  
  }
}

.home-create-campaign {
  padding: 1.2rem;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, #1968d2c9 0%, #6c6cbb 35%, #26476d 100%);
  display: flex;
  justify-content: center;

  h6 {
  	color: white;
    padding-right: 10px;
    margin-top: 3px;
  }

  button {
    color: white;
    border-color: white;
  }
}

.campaigns-to-support, {

  padding: 2rem;

  h4 {
    text-align: center;
    font-size: $main-header-font-size;
  }

  a {
    width: 100%;
  }

  button > div {
    min-height: 43vh;
  }

  #campaigns-to-support {
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  }

  #campaigns-to-support > a > div {
    margin: 1rem;
    max-width: 100%;
  }

  .home-card {
    min-height: 20vh;
    position: relative;
  }

  .campaign-card {
    transition: 0.2s;
  }

  .campaign-card:hover {
    transform: scale(1.05);
  }

}

.filler {
    background: #020024;
    background: -webkit-gradient(linear, left top, right top, from(#26476d), to(#1968d2c9));
    background: -webkit-linear-gradient(left, #26476d  0%, #1968d2c9 100%);
    background: linear-gradient(90deg, #26476d 0%, #1968d2c9 100%);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
  }

.progress-bar {
    position: relative;
    height: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid #33333354;
    
    h6 {
      display: inline-block;
      margin-top: .7rem
    }

    span {
      padding-top: .25rem;
      float: right;
      font-size: 1rem;
    }

   .goal-display {
    display: inline-grid;
    padding: 1.5rem;
    color: black;
  }
}

.about {
  padding: 6rem;
  padding-bottom: 7rem;
  @include breakpoint(desktop) {
    padding: 5rem;
    padding-bottom: 6rem;
    padding-left: 0;
    padding-right: 0;
  }

  h6, h4 { 
    color: white;
    text-align: center;
  }

  h4 {
    @include breakpoint(desktop) {
      font-size: $main-header-font-size;
    }
  }

  h6 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    @include breakpoint(desktop) {
      font-size: $second-header-font-size;
    }
  }
}

#about {
  background: url('/img/about-img.jpg');
  background-size: cover;

  #no-padding{ 
    max-width: 80%;
    flex-basis: 80%;
  }
}

.how-it-works-container {
  .how-it-works {
    padding: 5rem;
    @include breakpoint(desktop) {
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint(tablet) {
      padding-bottom: 2rem;
    }

    h4 {
      text-align: center;
      margin-bottom: 1.5rem;
      @include breakpoint(desktop) {
        font-size: $main-header-font-size;
      }
    }

    h5 {
      @include breakpoint(tablet) {
        font-size: 1.2rem;
      }
      @include breakpoint(mobileonly) {
        font-size: 1.1rem;
      }
    }

    h6 {
      @include breakpoint(tablet) {
        font-size: .9rem;
      }
      margin-bottom: 1rem;
    }

    .tab-text {
      font-size: 1rem;
      @include breakpoint(mobileonly) {
        font-size: .8rem;
      }
    }
  }
}

.how-it-works-container > div {
  width: 80%;

  @include breakpoint(tablet) {
    max-width: 100%;
    width: 90%;
  }

  .how-it-works-inner {
    padding: 27px;

    @include breakpoint(mobileonly) {
      padding: 0;
    }
  }
}