.navbar {
  a {
  	color: white;
  	text-decoration: none;
  	padding: 1rem;
  	text-transform: uppercase;
  }

  a:hover {
  	color: #8bd0ff;
  	transition: 0.3s;
  }

  header {
  	background-color: #26476d;
  }

  .login-signup {
  	position: absolute;
  	right: 24px;
  }

  .navbar-search {
  	display: flex;
  	padding: 5px;
    background-color: #ffffff91;
    border-radius: 2px;

  	input {
  	  padding-left: 10px;
  	  min-width: 200px;
  	}
  }
}

.footer-wrapper {
  .footer {
    position: absolute;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #26476d;
    text-align: center;

    h6 {
      color: white;
    }
  }
}