#profile {
  padding: 2rem;

  .profile-cards {
  	min-height: 20vh;
  	max-width: 80%;
  	margin: 0 auto;
  }

  .accordian-campaign-content {
  	margin: 0 auto;
  	width: 100%;
  }

  .accordian-content {
  	width: 100%;
  }
}