#profile {
  padding: 2rem;

  .profile-cards {
  	min-height: 20vh;
  	max-width: 80%;
  	margin: 0 auto;
  }

  .accordian-campaign-content {
  	margin: 0 auto;
  	width: 100%;
  }

  .accordian-content {
  	width: 100%;

    td {
      padding: 2rem;
    }
  }

  .stripe-button {
    margin: 2rem;
  }

  .alternate-background:hover {
    background-color: #4896f542;
    transition: 0.2s
  }

  .alternate-background:nth-child(odd) {
    background-color: #26466d0d;
  }

  .alternate-background:nth-child(odd):hover {
    background-color: #4896f542;
    transition: 0.2s
  }
}